* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
}

.app {
  width: 100vw;
  height: 100vh;

  padding-top: 75px;

  display: flex;
  justify-content: center;
  align-items: center;
}