$board-border-size: 20px;

$cell_size:64px;
$hover_border_size:5px;
$drop_shadow_hover_size:5px;
$hover_border_style:solid;

$selected_cell_hover_color:green;

$empty_cell_hover_color:gray;

$enemy_border_size: 4px;
$enemy_border_style:double;
$enemy_drop_shadow_hover_size:20px;
$enemy_cell_hover_color:red;