.board {
	--board-border-size: 20px;

	width: calc(64px * 8 + var(--board-border-size)*2);
	height: calc(64px * 8 + var(--board-border-size)*2);

	display: flex;
	flex-wrap: wrap;

	border: var(--board-border-size) solid #964d22;
}