.panel {
	display: grid;
	justify-items: center;
}
.panel__content {
	background: darkslategray;
	color: white;

	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(8, 1fr);
}
.element {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
	justify-items: center;

	column-gap: 10px;

	padding: 10px;
	margin: 2px;
	border: 1px solid teal;
}